
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(255, 254, 254);
  }
  .fontsize14 {
    font-size: 14px;

}
 .fontsize12{
  font-size: 12px;

 }
}
